<div class ="heading">
    <h1>
        About Us
    </h1>
    <p>Cherish Every Moment....<br/>
        Relish Every Bite...</p>
</div>
<section class="about-us">
    <img src="assets/img/logo.webp">
    <div class="content">
        <p>
            Delicia is the most trusted online food management websites which help the user to get whatever they ’re craving for 
            or wants to eat when they ’re hungry. This online food order website opens the menu of many varieties and are exclusively
             only available on Delicia.  Moreover, most of the popular fast food franchise including dominos, pizza hut, burger king, 
             Mcdonalds, Chaayos and more are all on Delicia.<br/>
             The best thing about this online food order website is there are no restrictions of minimum order a bit or bulk order
              food how much you required


        </p>
    </div>
</section>
