<h1 class="text-center my-5 customer_dashboard_title">Welcome Admin </h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/viewitems" class="view_items_link">
                <div class="card-body">
                    <img src="../../assets/img/recipes.webp" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">View Items List</h5>
                    <p class="text-muted text-center">Here admin can view all the status of all items.</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/additem" class="view_profiles_link">
                <div class="card-body">
                    <img src="../../assets/img/addfood.webp" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">Add an Item</h5>
                    <p class="text-muted text-center">In this admin can add an item.</p>
                </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/viewProfile" class="view_profiles_link">
                <div class="card-body">
                    <img src="../../assets/img/cust.jpg" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">View all Profiles</h5>
                    <p class="text-muted text-center">Here admin can view all the profiles of the customers.</p>
                </div>
                </a>
              </div>
        </div>
    </div>
</div>
